.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.on-hover-img img {
    cursor: pointer;
}

.carousel-height {
    height: 100vh;
}